@media (max-width: 1240px) {

    #logo_img {
        content: url('../img/logo_responsive.png');
    }

    .logo_burger {
        display: flex;
        align-items: center;
    }

    .icon_burger {
        display: none;
    }

    #logo {
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    #logo img {
        width: 60%;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #FEF1E6;
        /* padding-top: 60px; */
        transition: left 0.5s ease;
        overflow-y: scroll;
        /* Permet le défilement vertical */
        scrollbar-color: #FEF1E6;

    }

    #openBtn {
        margin-left: 25px;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 20px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #EC5F15;
        display: block;
        transition: 0.3s;
        font-family: sans-serif;
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 60px;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 38px;
        height: 4px;
        background-color: #B05A0E;
        margin: 10px 0;
    }

    /* Fin MENU BURGER */

    #menu {
        display: none;
    }

}

/* Media queries pour ajuster la présentation en fonction de la taille de l'écran */

@media (max-width: 1160px) {
    .all_plans {
        padding-right: 20px;
        border-radius: 0;
    }
}

@media (max-width: 900px) {
    #produits {
        justify-content: space-around;
        /* Espacement équitable quand l'écran est plus petit */
    }

    #bons-plans {
        padding-bottom: 0;
    }

    .all_plans {
        background-image: none;
        background-color: #F4C398;
    }

}

@media (max-width: 800px) {

    #produits,
    #bons-plans {
        display: flex;
        flex-direction: row;
        /* Aligner les éléments horizontalement */
        flex-wrap: nowrap;
        /* Empêche le retour à la ligne */
        min-width: 250px;
        /* Défilement fluide */
        overflow-x: auto;
        /* Permet le défilement horizontal */
        justify-content: flex-start;
        /* Les éléments commencent par la gauche */
        scroll-behavior: smooth;
    }

    .produit {
        min-width: 200px;
    }

    #complet_fav .produit {
        min-width: 31%;
    }

    .square {
        margin: 0 20px;
    }

    .pourcentage {
        position: sticky;
        top: 5%;
        margin-top: -18px;
        margin-left: 209px;
    }

    .atelier-btn {
        margin-top: 28px;
        margin-bottom: 0px;
    }
}

@media (max-width: 700px) {

    .right-nav {
        display: none;
    }

    .logo_burger {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    #selection {
        width: 100%;
        border-radius: 0%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }

    .icon_burger {
        display: block;
    }

    .icon_burger img {
        width: 18%;
    }

    #btn_select {
        margin: 0;
    }

    .connect {
        max-width: 90%;
        width: 90%;
    }

}

@media (max-width: 600px) {

    .produit {
        width: 80%;
        /* Les cartes prennent plus de place pour mieux utiliser l'espace disponible */
    }


}

@media (max-width: 1180px) {
    /* .flex {
        display: initial;
    } */

    .atelier-btn {
        margin-bottom: 15px;
    }

    .engagements-desc1,
    .engagements-desc2 {
        margin: auto;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    #engagements {
        padding-bottom: 50px;
    }

    .links {
        margin: 45px auto;
        width: initial;
    }

    #mentions {
        display: grid;
        margin: auto;
        text-align: center;
    }

    #mentions a {
        margin: 10px auto;
    }

    .reseaux {
        display: flex;
        margin-bottom: 20px;
    }

    #atelier-description {
        max-width: 80%;
    }

    .cmd .complet .bar_filtre {
        display: none;
    }

    .cmd .complet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .commande .details {
        margin-right: 0px;
    }

    #hidden {
        display: block;
        margin-top: 58px;
    }

    #complet_fav {
        align-items: center;
    }

    #complet_fav .produit {
        width: 40%;
    }

    #complet_fav .commande {
        width: 100%;
    }

    #complet_fav h2 {
        /* margin-top: 0; */
    }
}

@media (max-width: 650px) {
    h3 {
        width: 80%;
        margin: 110px auto 0 auto;
    }

    .txt h3 {
        width: auto;
        margin: auto;
    }

    #atelier-title {
        font-size: 6vw;
    }

    .atelier-img {
        width: 300px;
    }

    /* #selection {
        height: auto;
    } */

    .newsletter-signup {
        width: 80%;
    }

    #newsletter p {
        max-width: 80%;
        margin: auto;
    }

    #atelier-description {
        font-size: 18px;
    }

    .header-livraison {
        height: 100px;
    }

    .header-livraison p,
    .header-livraison a {
        font-size: 12px;
    }
}

@media (max-width: 580px) {

    .search-bar {
        width: 300px;
        height: 38.2px;
    }

    .banniere h1 {
        line-height: 35px;
        margin-bottom: 90px;
    }

}


/* Pour le filtre */

@media (max-width: 1080px) {
    .bar_filtre {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        padding: 0;
        justify-content: center;
    }

    .hidden {
        display: block;
    }

    .title_page {
        display: none;
    }

    .complet {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .trier {
        border: 2px solid;
        margin: 0;
        width: 46%;
        border-radius: 0 16px 16px 0;
    }

    .elements {
        display: none;
    }

    .filtrer {
        border: 2px solid #B05A0E;
        width: 46%;
        height: 50px;
        border-radius: 16px 0px 0px 16px;
    }

    .filtrer h4,
    .trier h4 {
        margin: 0;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EC5F15;
        text-transform: none;
        font-family: 'Poppins';
        font-weight: 500;
        line-height: 15px;
        text-align: center;

    }

    .filtrer svg,
    .trier svg {
        display: block;
        fill: #B05A0E;
        width: 20px;
        margin-left: 10px;
    }

    .filtrer p {
        display: none;
    }

    #produits {
        justify-content: space-evenly;
        width: auto;
    }
}

@media (max-width: 800px) {
    /* .complet #produits {
            flex-wrap: wrap;
    } */

    .commande {
        width: 92%;
        display: flex;
        flex-direction: column;
    }


    .commande .details {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        background-color: #F4C398;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: 20px 60px 50px 60px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
}




@media (max-width: 535px) {
    .cmd button {
        padding: 20px 40px;
    }

    .cmd .commande .details {
        padding: 20px 40px 40px 40px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 1400px) {
    #complet_fav #produits {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 750px) {
    #complet_fav #produits {
        width: 94%;
    }
}

@media (max-width: 670px) {
    .produit {
        flex: 1 1 48%;
        /* Chaque produit occupe toute la largeur */
    }
}